body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 201, 130);
}
#semesterDiv {
  margin-right: 180px;
  width: 50px;
}
.search {
  border-radius: 4px;
}
.search:focus::placeholder {
  color: transparent;
}
#radios:hover {
  cursor: pointer;
}
